<div class="staff">
	<div class="half note e4"></div>
	<div class="quarter note f4"></div>
	<div class="quarter note g4"></div>
	<div class="bar"></div>
	<div class="quarter note a5"></div>
	<div class="half note b5"></div>
	<div class="quarter note down c5"></div>
	<div class="double bar"></div>
	<div class="quarter note c5"></div>
	<div class="half note a5"></div>
	<div class="quarter note e5"></div>
	<div class="bar"></div>
	<div class="quarter note c5"></div>
	<div class="quarter note e5"></div>
	<div class="quarter note f5"></div>
	<div class="quarter note g4"></div>
	<div class="bar"></div>
	<div class="half note d5"></div>
	<div class="half note down a5"></div>
	<div class="bar"></div>
	<div class="whole note d4"></div>
	<div class="bar"></div>
	<div class="half note e4"></div>
	<div class="quarter note f4"></div>
	<div class="quarter note g4"></div>
	<div class="bar"></div>
	<div class="quarter note a5"></div>
	<div class="half note b5"></div>
	<div class="quarter note down c5"></div>
	<div class="double bar"></div>
	<div class="quarter note c5"></div>
	<div class="half note a5"></div>
	<div class="quarter note e5"></div>
	<div class="bar"></div>
	<div class="quarter note c5"></div>
	<div class="quarter note e5"></div>
	<div class="quarter note f5"></div>
	<div class="quarter note g4"></div>
	<div class="bar"></div>
	<div class="half note d5"></div>
	<div class="half note down a5"></div>
	<div class="bar"></div>
	<div class="whole note d4"></div>
	<div class="bar"></div>
	<div class="half note e4"></div>
	<div class="quarter note f4"></div>
	<div class="quarter note g4"></div>
	<div class="bar"></div>
	<div class="quarter note a5"></div>
	<div class="half note b5"></div>
	<div class="quarter note down c5"></div>
	<div class="half note e4"></div>
	<div class="bar end"></div>  
</div>